.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #0f0;
    .contanier {
        flex: auto;
    }
    .bottomBar  {
        flex: 0 0 auto;
        height: 200px;
        border: 1px solid red;
        background-color: aqua !important;
    }
}
