:root:root {
    --adm-color-primary: #007fff;
}
body {
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .contanier {
        flex: auto;
        height: calc(100vh - 50px);
        border: 1px solid #0f0;
    }
    .bottomBar  {
        flex: 0 0 auto;
        height: 50px;
        border: 1px solid red;
    }
}
